.modal {
  background-color: white;
  color: black;
  position: absolute;
  width: 100%;
  max-width: 900px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: none;
}
.back {
  margin-bottom: 30px;
}
.transact {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 20px;
}
.send {
  margin-bottom: 10px;
}
.options {
  margin-top: 20px;
}
.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.submit {
  display: block;
  margin: 0 auto;
  background-color: #0053ce;
  color: white;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 10px;
}
