.container {
  font-size: 0.5rem;
}
.grid,
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.header {
  font-weight: 700;
  background-color: white;
  padding: 30px 20px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.right {
  text-align: right;
}

.header h4 {
  margin-bottom: 10px;
}

.grid {
  background-color: #fafafa;
  padding: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.8);
}

.price {
  text-align: right;
  padding-right: 10px;
}
.change {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .grid,
  .header {
    grid-template-columns: 2fr 1fr;
  }
}
