.container {
  padding-bottom: 50px;
}

.grid,
.header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.header {
  padding: 10px;
  font-weight: 700;
}
